<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスク管理システム</title>
    <link rel="stylesheet" type="text/css" href="./css/Task.css">
</head>
<body>
    <div class="wrapper">
        <ul>

        <li class="id">
        <label for="id">ユーザー名</label>
        <input type="text" name="id" value="" size="30">
        </li>

        <li class="pass">
        <label for="pass">パスワード</label>
        <input type="text" name="pass" value="" size="30">

        <li class="button">
        <input id="button" type="submit" name="button" value="ログイン">
        </li>
        </ul>
        <div class="footer">
        <a href="http://">新規登録はこちら</a></div>
        </div>
</body>
</html>